body {
    padding:0;
    margin:0;
    min-width:900px;
}

#DevicesAtPoint {
    opacity:0.8;
}

.chanSpacer {
    position:relative;
    float:left;
    width:70px;
    height:14px;
}

.loading{
    width:15px;
    height:15px;
}

#channelPop {
    padding:4px 2px;
}

#channelPop button,
#channelPop {
    font-size:1.12em;
    border-radius: 5px;
    margin:2px;
    padding:3px;
}
#channelPop button:hover {
    color :#dd2244;
    background:#def;
}

#topBar {
    position:relative;
    float:left;
    padding:3px 8px;
    background-color:#cbddf3;
    width:100%;
    height:56px;
    min-width:750px;
}

#topBar div.auth {
    position:relative;
    float:right;
    margin:0 2px;
    padding:2px 0;
}

#topBar div.auth >div, 
#topBar div.auth form >div, 
#topBar div.auth form >div >div ,
#topBar div.auth >div >div >div{
    position:relative;
    float:left;
    margin:0 3px;
}

#topBar div.auth >div {
    float:right;
}

#topBar div.auth form label {
    width:74px;
}

#topBar div.auth input {
    border-radius:4px;
    border:1px dotted #aaa;
    width:100px;
    background:#eef2ff;
    border:1px solid #8af;
    padding:0 0 0 3px;
    font-size:1.1em;
}

#topBar div.auth button {
    font-size:0.9em;
    font-weight:bold;
    padding:0px 4px;
    height:20px;
    border-radius:4px;
}

#topBar div.auth div.button {
    white-space:nowrap;
    background-image:url("./image/bg-button.png");
    width:52px;
    color:white;
    padding:1px 8px;
    height:20px;
    cursor:pointer;
}

#topBar div.auth div.button::after { content:'Log In'; }

#topBar div.auth div.button.in { padding:1px 3px; }
#topBar div.auth div.button.in::after { content:'Log Out'; }

#topBar div.auth div.acct {
    clear:right;
}

#topBar div#logos >div, 
#topBar div#logos {
    position:relative;
    float:left;
    width:auto;
}

#topBar div#logos {
    margin:2px 0 0 0;
}

#topBar div#logos div.icsLogo{
    position:relative;
    float:left;
    background-image:url("./image/logo.png");
    width: 149px;
    height:30px;
}

#topBar div#logos div.by {
    margin:16px 0px 0 8px;
    font-weight:bold;
    font-size:0.9em;
}

#topBar div#logos div.atdiLogo{
    position:relative;
    float:left;
    background-image:url("./image/atdilogo.png");
    background-position:1px 1px;
    background-color:#9ab;
    width:67px;
    height:20px;
    margin:12px 0 0 6px;
}


.menuAction, .centerAction {
    height:24px !important;
    padding-left:24px !important;
}

.menuAction.box     { background-image:url("./image/mouse-arrow-square-24.png"); }
.menuAction.point   { background-image:url("./image/point-click-24.png"); }
.centerAction   { background-image:url("./image/aim-24.png"); }

#topNotifyWrap {
    position:fixed;
    z-index:1000;
    font-size:1.15em;
    padding:3px;
    top:0;
    width:100%;
    opacity:0.77;
    margin:0;
    padding:0;
    height:0;
    overflow:visible;
}

#topNotifyWrap > #topNotify {
    background:black;
    color:#00dd00;
    padding:0px;
    font-size:1.1em;
    width:60%;
    margin:0 auto;
    border-bottom-right-radius:12px;
    border-bottom-left-radius:12px;
}

#topNotifyWrap > #topNotify > div {
    padding:6px;
    display:none;
    border-bottom:1px solid #ddd;
    width:auto;
}

#topNotify div.info { color:#00aaff; }
#topNotify div.error { color:#ff0000; }
#topNotify div.warn { color:#ffdd00; }
#topNotify div.closeInfo {
    color:#ffdd00;
    font-size:0.9em;
    font-style:italic;
}

.ngpane > div { 
    padding:4px;
    margin:5px 8px;
    border-radius:7px;
    box-shadow:5px 5px 10px #89a;
    background:#abc;
}
.ngpane button { 
    font-weight:bold; 
    opacity:1; 
    color:white; 
    border-radius:5px;
    padding:2px 1px;
    font-size:1em;
    white-space:nowrap;
    margin:1px;
    float:left;
    cursor:pointer;
}

.ngpane >div, ngpane >div >div {
    float:left;
}

.ngpane h2      { margin-top:1px; }

.ngpane button.noshow   { opacity:0.4; }
.ngpane button.red      { background:#aa0000; }
.ngpane button.green    { background:#006600; }
.ngpane button.blue     { background:#0044cc; }

.ngpane .buttonWrap     { 
    max-height:152px; 
    overflow:auto; 
    font-size:0.95em; 
}

.ngpane .buttonWrap button  { 
    min-width:42px; 
    background:#aaddff;
    background:#dcefff;
    color:black;
    float:left;
    margin:1px;
}
.ngpane .buttonWrap button.red  { 
    background:#aa0000;
    color:white;
}

.ngpane .ctrl button, .ngpane .filter button { 
    border:2px outset buttonface; 
    color:#dddddd; 
    font-size:0.9em;
}
.ngpane .ctrl button.long, .ngpane .filter button.long { 
    width:98%;
}
.ngpane .ctrl button:hover, .ngpane .filter button:hover { border:2px outset #000000; color:#ffffff; }

.ngpane .ctrl button         { background:#455; min-width:48%;   }
.ngpane .ctrl button.noshow  { opacity:0.1; }

.ngpane .filter button { width:46px; }

.ngchannel.data,
.ngdataitem {
    padding:3px;
    position:relative;
    float:left;
}

.ngdataitem >div {
    background:#dcefff;
    padding:3px;
    min-height:15px;
    float:left;
}

.ngdataitem div div {
    width:72px;
    float:left;
    position:relative;
    min-height:16px;
}
.ngdataitem button {
    margin:8px 0 6px 18px;
    font-size:0.9em;
    background:#455;
    color:#dddddd;
    font-weight:normal;
}

.ngdataitem ul{
    clear:both;
    position:relative;
    float:left
}

.ngdataitem li{
    position:relative;
    float:left;
}
.x-panel-body { background-color:#def; }
.x-btn-tex-icon {
    padding-left:24px;
}

.ngnotif#ngnotif{
    background:black;
    padding:3px;
    margin:0;
    height:30px;
    opacity:0.9;
    font-size:1em;
    color:white;
}

.statusInfo {
    float:left;
    margin:0 0px;
    padding:2px 4px;
    border-right: 1px solid #def;
    background:#111;
}
.statusInfo.info { color:#00aaff; }
.statusInfo.error { color:#ff0000; }
.statusInfo.warn { color:#ffdd00; }
.statusInfo.success { color:#00ff22;; }
.flash { background:red !important; }
