﻿@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title</h1>
                <h3>@ViewBag.Message</h3>
            </hgroup>
            <p>
                The recently introduced ICS online represents a powerful and yet simple internet / intranet gate to your network data, and a link between the network design team and the marketing department, the sales force, the customer center and the installation and maintenance services.
                <center><span style="font-size:11px;color:#fff;">ICS online is optimized for Chrome 27+, Mozilla Firefox 13+ and Microsoft IE 9 x64</span></center>
            </p>
        </div>
    </section>
}
<div style="float:left;width:550px;">
    <h3>ICS online main benefits are: </h3>
    <ol class="round">
        <li class="one">
            <h5>Unique account and associated URL to access the data you decide to share</h5>&nbsp;
        </li>
        <li class="two">
            <h5>Public or private access (login/password protected)</h5>&nbsp;
        </li>
        <li class="three">
            <h5>Access to best-in-class imagery from BING Maps embedded in the platform</h5>&nbsp;
        </li>
        <li class="four">
            <h5>Sharing of radio planning data such as coverage, interference, traffic maps <br />and allotments</h5>&nbsp;
        </li>
        <li class="five">
            <h5>Overlay the network information including stations and their technical characteristics</h5>&nbsp;
        </li>
        <li class="six">
            <h5>Upload additional information in form of attachments</h5>&nbsp;
        </li>
    </ol>
</div>
<div style="float:left;width:410px;margin-top:50px;">
    <img src="~/images/icsscreen.jpg">
</div>