﻿<!DOCTYPE html>
<html ng-app="ICSonline">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title PSME</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" type="text/css" href="http://extjs.cachefly.net/ext-3.4.0/resources/css/ext-all.css" />
    <link rel="stylesheet" type="text/css" href="http://extjs.cachefly.net/ext-3.4.0/examples/shared/examples.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/style.css" />

    <script type="text/javascript" src="http://extjs.cachefly.net/ext-3.4.0/adapter/ext/ext-base.js"></script>
    <script type="text/javascript" src="http://extjs.cachefly.net/ext-3.4.0/ext-all.js"></script>

    <script type="text/javascript" src="http://www.openlayers.org/api/2.11/OpenLayers.js"></script>
    <script src="http://maps.google.com/maps/api/js?v=3.2&sensor=false"></script>

    <script type="text/javascript" src="/ScriptLib/GeoExt.js"></script>
    <script type="text/javascript" src="/ScriptLib/ang.js"></script>


    <script type="text/javascript" src="/ScriptLib/jquery.min.js"></script>

    <script type="text/javascript" src="/JS/util.js"></script>
    <script type="text/javascript" src="/JS/index.js"></script>
    <script type="text/javascript" src="/JS/plugins.js"></script>
    <script type="text/javascript" src="/JS/ctrl.js"></script>
</head>
<body>
    <div id="topNotifyWrap" onclick="UT.notify('clear')"><div id="topNotify"></div></div>
    @Html.Partial("_TopBar")
    <div class="container body-content">
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
<div id="angularContent" style="display:none" ng-controller="panesWrap">
    <div id="ngchannellist" ng-controller="ngChannelList" class='ngpane'>
        <div>
            <h2>Channels at:<br />({{data.lon}}, {{data.lat}})</h2>
            <div class="buttonWrap">
                <button ng-repeat="chan in data.channels" ng-click="chanClick(chan.Channel)" class='green'
                    chanId="{{chan.Channel}}" ng-class="vis[chan.Channel]|showOn">{{chan.Channel}}/{{chan.chanCount}}
                </button>
            </div>
        </div>

        <div class='ctrl'>
            <button ng-click="showAll()" ng-class="showCl|showOn">Show All</button>
            <button ng-click="showAll(false)" ng-class="hideCl|showOn">Hide All</button>
            <button ng-click="doReverse()" ng-class="reverseClass|showOn">Reverse</button>
            <button ng-click="toFront('dev')" ng-class="toFrontCl|frontCl:'chan'">To Front</button>
        </div>

        <div class='filter'>
            <h2>Filter By (Range):</h2>
            <button ng-class="short|showOn" ng-click="showRange('short');" class='green'>Short</button>
            <button ng-class="med|showOn" ng-click="showRange('med');" class='blue'>Med</button>
            <button ng-class="long|showOn" ng-click="showRange('long');" class='red'>Long</button>
        </div>

        <div id='ngchannel' ng-channel class='ngdataitem' chanid="chanId" ng-show="chanId">
            <div>
                <b><div>Channel Id:</div><div>{{chanData.Channel}}</div></b>
                <div>Band:</div><div>{{chanData.Band}}</div>
                <div>BWkHz:</div><div>{{chanData.BWkHz}}</div>
                <div>FreqMHz:</div><div>{{chanData.FreqMHz}}</div>
                <br />
                <div><b>Devices:</b></div>
                <ul class='buttonWrap'>
                    <li ng-repeat='dev in chanData.Devices'>
                        <button ng-button item='dev.Id' container='chan' />
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div id="ngdevicelist" ng-controller="ngDeviceList" class='ngpane'>
        <div>
            <h2>Devices:</h2>
            <div class="buttonWrap">
                <button ng-repeat="dev in data.devices" ng-click="devClick(dev.devId)"
                    devId="{{dev.devId}}" ng-class="vis[dev.devId]|showOn">{{dev.devId}}
                </button>
            </div>
        </div>
        <div class="ctrl">
            <button ng-click="showAll()" ng-class="showCl|showOn">Show All</button>
            <button ng-click="showAll(false)" ng-class="hideCl|showOn">Hide All</button>
            <button ng-click="toFront('chan')" ng-class="toFrontCl|frontCl:'dev'">To Front</button>
            <button ng-click="doReverse()" ng-class="reverseClass|showOn">Reverse</button>
        </div>

        <div id='ngdevice' ng-device class='ngdataitem' devid="devId" ng-show='devId'>
            <div>
                <b><div>Device Id:</div><div>{{devData.Id}}</div></b>
                <div>Agl:</div><div>{{devData.Agl}}</div>
                <div>Lat:</div><div>{{devData.lat.toFixed(4)}}</div>
                <div>Lon:</div><div>{{devData.lon.toFixed(4)}}</div>
                <br />
                <div><b>Channels:</b></div>
                <ul class='buttonWrap'>
                    <li ng-repeat='chan in devData.Chans'>
                        <button ng-button item='chan.Chan' container='dev' />
                    </li>
                </ul>
            </div>
        </div>
        
        <div id='ngnotif' class='ngnotif'>
        </div>
    </div>
</div> <!--  angularContent -->
</body>
</html>
