﻿<div id="topBar" ng-controller="topbar">
    <div id="logos">
        <div class="icsLogo"></div>
        <div class="by">Powered by</div>
        <div class="atdiLogo"></div>
    </div>
    <div class="auth">
        <div class="crm">
            <form id='crmForm'>
                <div ng-hide="crmLogged" class="crm ">
                    <div ng-hide="loading"><label for="crmUser">User Name:</label><input id="crmUser" type="text"  name="crmUser"/></div>
                    <div ng-hide="loading"><label for="crmPasswd">Password:</label><input id="crmPasswd" type="password" /></div>
                    <img ng-show="loading" src="/Content/image/loading.gif" class="loading" />
                </div>
                <div ng-show="crmLogged" class="crm logged">
                    <div id="loggedUser">Welcome: <b>{{userName}}</b></div>
                </div>
                <div class="button {{loggedIn}}" ng-click="logInOut()"></div>
            </form>
        </div>

        <div class="acct" ng-show="crmLoggedPending">
            <form id="accountForm">
                <div ng-hide="acctLogged" class="accts pending">
                    <div>Account Name:<input type="text" id="acctUserName" name="acctUser" /></div>
                    <div>Password:<input type="password" id="acctPswd" /></div>
                </div>
                <div ng-show="acctLogged" class="acct logged">
                    <div id="loggedUser">Account: <b>{{acctUserName}}</b></div>
                </div>
                <div class="button {{actLoggedIn}}" ng-click="actLogged()"></div>
            </form>
        </div>
    </div>
</div>
